.main {
    background: var(--color-bg);
    display: flex;
    gap: 30px;
    padding: 100px calc(50% - 555px) 57px;
    flex-direction: column;
}

.main-header {
    display: flex;
    margin-bottom: 4px;
}

.main-header__title {
    color: var(--color-primary);
    font-family: var(--font-family-title);
    font-size: 30px;
    font-weight: 250;
    line-height: 100%;
    max-width: 629px;
}

.blocks {
    display: flex;
    flex-direction: row;
}

.block {
    border: var(--color-bg_shade) 1px solid;
    flex: 1 1 calc(25% - 20px);
}

.blocks__wrapper {
    min-height: 180px;
    padding: 30px 16px;
}

.block__wrapper_one {
    background: url('../assets/sozdanie-saytov.webp') center no-repeat;
    padding: 16px;
}

.block__wrapper_two {
    background: url('../assets/sozdanie-igr.webp') center no-repeat;
    padding: 16px;
}

.block__wrapper_three {
    background: url('../assets/sozdanie-serverov.webp') center no-repeat;
    padding: 16px;
}

.block__wrapper_four {
    background: url('../assets/sozdanie-prilozeniy.webp') center no-repeat;
    padding: 16px;
}

.block__container {
    display: flex;
    flex-direction: column;
    min-height: 313px;
    justify-content: space-between;
    padding: 16px 16px 24px 16px;
}

.block__title{
    color: var(--color-primary);
    margin-bottom: 0px;
    font-family: var(--font-family-title);
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
}

.block__description{
    color: var(--color-primary_grey);
    margin-bottom: 16px;
    font-family: var(--font-family-desc);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}